$overlay-bg: rgba(0, 0, 0, 0.8);
$modal-bg: rgba(0,0,0,0.4);
$green: #9bcc3e;
$green-bold: #5fbe30;
$primary-background-color:  #f3f3f3;
$newsletter-background-color:  #5fbe30;
$mobile: 320px;
$desktop: 1280px;
$primary-color: #333;
$secondary-color: #666;
$service-border-Button: #b7b0b0;
$success: green;
$danger: red;
$white: white;
$heading-text-color: #897e7e;
