@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('woff2'),
  url('../fonts/Poppins/Poppins-Regular.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('woff2'),
  url('../fonts/Poppins/Poppins-SemiBold') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-Bold.ttf') format('woff2'),
  url('../fonts/Barlow/Poppins-Regular.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-SemiBold.ttf') format('woff2'),
  url('../fonts/Barlow/Barlow-SemiBold') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow/Barlow-Light.ttf') format('woff2'),
  url('../fonts/Barlow/Barlow-Light.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
}

