@use '../base/variables';
@use '../base/fonts';

@mixin font-poppins($weight: 400) {
  font-family: 'Poppins', sans-serif;
  font-weight: $weight;
  color: black;
}

@mixin font-barlow($weight: 300, $color: black) {
  font-family: 'Barlow', sans-serif;
  font-weight: $weight;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
  color: $color;
}


@mixin font-barlow-light($color: variables.$white) {
  @include font-barlow(300, $color);
}

@mixin font-barlow-semiBold($color: variables.$white) {
  @include font-barlow(400, $color);
}


@mixin section-heading-text($color: variables.$heading-text-color) {
  color: $color;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
  @include font-barlow(700);
  @include responsive(desktop) {
    font-size: 1rem;
  }
}

@mixin section-title(
  $weight: bold,
  $color: variables.$primary-color,
  $lineHeight: 1.2,
  $marginBottom: 1rem,
  $marginTop: 1rem,
  $letterSpacing: 1px
) {
  @include font-poppins($weight);
  color: $color;
  line-height: $lineHeight;
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  letter-spacing: $letterSpacing;
}


@mixin responsive($breakpoint) {
  @if ($breakpoint == mobile) {
    @media (max-width: 399px) {
      @content;
    }
  } @else if ($breakpoint == tablet) {
    @media (min-width: 400px) and (max-width: 1279px) {
      @content;
    }
  } @else if ($breakpoint == desktop) {
    @media (min-width: 1280px) {
      @content;
    }
  }
}


@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}


@mixin buttonService() {
  color: variables.$primary-color;
  padding: 10px 30px;
  border: 1px solid variables.$service-border-Button;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 200px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;

  &:hover {
    border-color: variables.$primary-color;
  }
}

@mixin buttonNewsletter() {
  color: variables.$white;
  padding: 15px 30px;
  border: 1px solid white;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include font-barlow-semiBold();
  border-radius: 5px;
  text-wrap: nowrap;

  @include responsive(desktop) {
    text-wrap: nowrap;
    padding: 15px 50px;
  }

  &:hover {
    background-color: variables.$newsletter-background-color;
  }
}
