
@use "../base/variables";
@use "../base/mixins";

.slide_partner {

  padding: calc(1vw + 3px);
  .swiper {

    width: 100%;
    height: calc(30vh + 100px);

    @include mixins.responsive(tablet) {
      height: calc(35vh + 100px);
    }

    @include mixins.responsive(desktop) {
      height: calc(40vh + 100px);
    }

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;

      @include mixins.responsive(tablet) {
        height: 100%;
      }
      @include mixins.responsive(desktop) {
        height: 100%;
      }
    }
  }
}
