@use "../base/mixins";
@use "../base/variables";

.partner {

  @include mixins.responsive(desktop) {
    margin-top: 2rem;
  }

  .partner_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: calc(5vw + 10px) 15px;

    @include  mixins.responsive(desktop) {
       padding: 40px 70px;

    }

    span {
        @include mixins.section-heading-text();


      &:nth-child(5){

          display: none;
          @include  mixins.responsive(desktop) {display: block;}
        }
    }

    h1 {
      @include mixins.font-poppins($weight: bold);
        margin-top: 0.5rem;
        font-size: 3rem;
        line-height: 1.2;
        width: 100%;

    }

    p {
      @include mixins.font-barlow-light();
         width: 100%;
         text-align: left;
         letter-spacing: 1px;
         font-size: 1rem;

        @include  mixins.responsive(desktop) {
          text-align: justify;
        }

        &:nth-child(1) {
          margin-top: 2rem;
          margin-bottom: 2rem;

        }

    }
  }

  .partner_flex_icons {
      @include mixins.flex($justify: flex-start, $direction: row);
      gap: 1rem;
    margin: 3rem 0;

  }
  .partner_media_social_icons_link {
    display: inline-block;
    transition: all 0.3s ease;

    svg {
      display: block;
      flex-shrink: 0;
      path {
        transition: fill 0.3s ease;
      }

      circle {
        transition: stroke 0.3s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: variables.$secondary-color
        }

        circle {
          stroke: variables.$secondary-color
        }
      }
    }


  }
}
