
@use "../base/variables";
@use "../base/mixins";

.service_job {
  background-color: variables.$primary-background-color;
  border: variables.$primary-background-color solid 1px;
  border-top-right-radius: 50px 50px;
  margin-right: 50px;
  padding: calc(2vw + 20px) calc(1vw + 10px);

  br {
    display: none;

    @include mixins.responsive(desktop) {
      display: block;
    }
  }

  @include mixins.responsive(desktop) {
    margin-right: calc(5vw + 5px);
    padding: calc(1vw + 10px) calc(0.5vw + 5px);

  }

  .service_job_flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;


    @media (min-width: 600px) {
      flex-direction: row;
      align-items: stretch;
    }


    .service_job_flex_items {
      max-width: 380px;
      margin: 0 auto;

      @include mixins.responsive(desktop) {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        max-width: unset;
        margin: unset;
      }

      span {
        @include mixins.section-heading-text();
        color: #8d8282;
      }

      h2 {
        max-width: 350px;
        width: 100%;
        @include mixins.section-title(
                $weight: 700,
                $color: black,
                $lineHeight: 1.2,
                $marginBottom: 1rem,
                $marginTop: 1rem,
                $letterSpacing: 1px
        );
      }

      p {
        width: 100%;
        max-width: 400px;
        line-height: 1.4;
        margin-bottom: 0.5rem;
        @include mixins.font-barlow-light();
      }
    }
  }
}
