
@use '../base/variables';
@use '../base/mixins';

.swiper {
   & .swiper-button-next,
   & .swiper-button-prev {
      color: variables.$secondary-color;
      visibility: hidden;

      @include mixins.responsive(desktop) {
         visibility: visible;
         display: block;
      }
   }

   .swiper-pagination-bullet-active {
      background: variables.$secondary-color;
   }
}
