@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraBold.woff2') format('woff2'),
    url('Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

