@use '../base/variables';
@use '../base/mixins';

.navbar_items {

  @include  mixins.flex($justify: space-between);
  padding: 10px 15px;
  width: 100%;
  @include  mixins.font-barlow-light();
  @include mixins.responsive(desktop) {
    padding: 10px 20px;
  }

  .logo {
    position: relative;
    z-index: 1000;
  }

  .logo img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
    @include mixins.responsive(desktop) {
      max-width: 150px;
    }

  }

  .hamburger {
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: variables.$secondary-color;
    outline: 0;
    z-index: 1000;
    @include  mixins.font-barlow-light($color: variables.$secondary-color,);
    text-transform: uppercase;


    &.active  {
      color: transparent;
    }

    span {
      display: block;
      width: 43px;
      height: 2px;
      background: variables.$secondary-color;
      margin-bottom: 6px;
      transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      transform-origin: center;
      outline: 0;

      &:nth-child(1) {
        margin-top: 5px;
      }

    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(3px, 3px);
    }

    &.active span:nth-child(2) {
      transform: rotate(-45deg) translate(3px, -3px);
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .nav-links {


    list-style: none;
    z-index: 20;
    padding: 15px;
    top: 27%;
    position: fixed;


    @include  mixins.responsive(desktop){

    }

    @include  mixins.responsive(desktop){
      position: fixed;
      top: 50%;
      left: 50%;
      text-align: center;

    }

    li {
      margin: 20px 0;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s * $i;
        }
      }
    }

    a {
      color: variables.$primary-color;
      text-decoration: none;
      font-size: 2rem;
      @include mixins.font-poppins();

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .overlay.active .nav-links li {
    opacity: 1;
    transform: translateY(0);
  }
}