@use 'scss/base/variables' as *;
@use 'scss/base/mixins' as *;
@use 'scss/base/fonts' as *;
@use 'scss/base/reset' as *;
@use 'scss/layout/footer';
@use 'scss/components/navbar';
@use 'scss/components/modal';
@use 'scss/components/buttons';
@use 'scss/components/responsive';
@use 'scss/sections/partner';
@use 'scss/sections/banner';
@use 'scss/sections/service';
@use 'scss/sections/newsletter';

body {
  color: $primary-color;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


